<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- user_name = "" %>
  <%- include('partials/_header') %>
</head>

<body>
  <div class="container text-center pt-5" >
    <p class="fs-3 fw-semibold text-primary" style="--bs-text-opacity: .75;">
      Having trouble getting your friends to ACTUALLY make a chose? Use Decision Maker: A web app that helps groups of friends to vote on a preferred choice (using ranked voting), for example: "What movie should we see next Friday?".


    </h2>

    <div pt-5>
      <div class="tenor-gif-embed" data-postid="17529583" data-share-method="host" data-aspect-ratio="1.3617" data-width="90%"><a href="https://tenor.com/view/decisions-dog-walk-cute-gif-17529583">Decisions Dog GIF</a>from <a href="https://tenor.com/search/decisions-gifs">Decisions GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>

</body>

</html>
