<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_header') %>

    <title>New Poll</title>
    <script defer src="/scripts/newPoll.js"></script>

</head>

<body>

  <form method="post" action="/newPoll">
  <div class="container text-center" >
    <h2>Create Your Poll</h2>
    <!-- <p class="lead">Please enter your options below</p> -->
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="poll_question" class="form-label">Please Enter Poll Question</label>
          <input type="Question" class="form-control" id="poll_question" placeholder="Enter Question Here" name="question">
        </div>
      </div>
    </div>
    <div class="options" id="options-parent">
      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label for="option_1" class="option">Option 1</label>
            <input type="text" class="form-control" id="option1" placeholder="add option"  name="option1">
          </div>
        </div>
        <div class="col">
          <label for="option_1_description" class="label">Optional Description </label>
          <input type="text" class="form-control" id="description1" placeholder="describe option", name="description1">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label for="option_2" class="option">Option 2</label>
            <input type="text" class="form-control" id="option2" placeholder="add option" name="option2">
          </div>
        </div>
        <div class="col">
          <label for="option_2_description" class="label">Optional Description</label>
          <input type="text" class="form-control" id="description2" placeholder="describe option" name="description2" >
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label for="option_3" class="option">Option 3</label>
            <input type="text" class="form-control" id="option3" placeholder="add option" name="option3">
          </div>
        </div>
        <div class="col">
          <label for="option_3_description" class="label">Optional Description</label>
          <input type="text" class="form-control" id="description3" placeholder="describe option" name="description3" >
        </div>
      </div>
    </div>


    <div class ="Submissions">

    <button id ="createPollbtn" class="btn btn-primary" >Submit</button>

    <button id="deleteOptionBtn" class="btn btn-outline-primary">Delete Option</button>
    <button id="addOptionBtn" class="btn btn-outline-primary">Add Option</button>
  </div>



  </div>
</body>


<footer>

</footer>
</body>

</html>
