<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Submissions</title>
    <%- include('partials/_header') %>

    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/submission.css" />
  </head>

  <body>

    <section class="main">
      <h1>submissions</h1>

      <form method="POST" action="/submissions">
        <input type="text" name="answer" placeholder="name" />
        <div>Question: <%= options[0].name_required %></div>

        <% for (let each of options ) { %>
        <div class="option"><%= each.title %></div>
        <%} %>
        <button type="submit">submit</button>
      </form>
    </section>
  </body>
  <footer><%- include('partials/_footer') %></footer>
</html>
