// See: https://sass-lang.com/

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}


.ui-state-default {
  list-style-type:none;
  width: 90%;
  margin-top: 5px;
  border: 1px solid #545149;
  background-color: none;
  cursor: move;
}
